* Utilicen el conjunto de datos de abulones para predecir el número de anillos a partir de los medicamentos físicos que utilizan la regresión lineal.

In [2]:
#Importar librerias
import pandas as pd
import numpy as np

In [38]:
#lectura de archivo 
dt=pd.read_csv('/content/drive/MyDrive/Semestre 2022-2/CODING_DOJO_DS/Machine_Learning/abalone.data', header=None)
dt.columns=['Sex','Length[mm]','Diameter[mm]','Height[mm]','Whole weight[grams]','Shucked weight[grams]','Viscera weight[grams]','Shell weight[grams]','Rings']
dt

,Sex,Length[mm],Diameter[mm],Height[mm],Whole weight[grams],Shucked weight[grams],Viscera weight[grams],Shell weight[grams],Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [39]:
dt['Sex'].value_counts()

M    1528
I    1342
F    1307
Name: Sex, dtype: int64

In [27]:
dt.dtypes

Sex                       object
Length[mm]               float64
Diameter[mm]             float64
Height[mm]               float64
Whole weight[grams]      float64
Shucked weight[grams]    float64
Viscera weight[grams]    float64
Shell weight[grams]      float64
Rings                      int64
dtype: object

In [32]:
dt.isna().sum()

Sex                      0
Length[mm]               0
Diameter[mm]             0
Height[mm]               0
Whole weight[grams]      0
Shucked weight[grams]    0
Viscera weight[grams]    0
Shell weight[grams]      0
Rings                    0
dtype: int64

In [31]:
dt.duplicated().sum()

0

In [37]:
dt['Sex'].value_counts()

1.0    1528
0.0    1307
Name: Sex, dtype: int64

In [40]:
dt['Sex']=dt.Sex.map({'M':0,'F':1,'I':2})

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
#Separar los datos en una matriz de características (X) y un vector objetivo (y).
X=dt.drop(columns=['Rings'])
y=dt['Rings']
#Crear un split de prueba de tren en los datos. Utilicen un número ocasional 42 por coherencia.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [47]:
X_train.describe()

,Sex,Length[mm],Diameter[mm],Height[mm],Whole weight[grams],Shucked weight[grams],Viscera weight[grams],Shell weight[grams]
count,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000,3132.000000
mean,0.949872,0.525750,0.409254,0.140070,0.834224,0.362219,0.181684,0.240351
std,0.825405,0.119131,0.098557,0.042661,0.491449,0.223000,0.109317,0.139567
min,0.000000,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500
25%,0.000000,0.450000,0.350000,0.115000,0.444000,0.187000,0.093500,0.130000
50%,1.000000,0.545000,0.425000,0.145000,0.804500,0.339500,0.171750,0.235000
75%,2.000000,0.615000,0.480000,0.165000,1.156750,0.506500,0.255000,0.330000
max,2.000000,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000

In [48]:
#Utilizar transformadores de columna para transformar las columnas adecuadas
from sklearn.compose import make_column_selector, make_column_transformer

In [49]:
#Usar selectores de columnas para seleccionar las columnas categóricas y las columnas numéricas
cat_selector = make_column_selector(dtype_include='object')
num_selector = make_column_selector(dtype_include='number')

In [50]:
#Usar un OneHotEncoder para codificar las columnas categóricas
#Usar StandardScaler para escalar columnas numéricas
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [51]:
scaler = StandardScaler()
ohe = OneHotEncoder(handle_unknown='ignore')

In [53]:
#Usando un ColumnTransformer para emparejar la transformación al tipo de columna
num_tuple = (scaler, num_selector)
cat_tuple = (ohe, cat_selector)

In [54]:
#Transformar los datos y mostrar los arrays de NumPy resultantes
col_transformer = make_column_transformer(num_tuple, cat_tuple, remainder = 'passthrough')
col_transformer.fit(X_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('standardscaler', StandardScaler(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fa235cf4890>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fa235cf48d0>)])

In [55]:
X_train_processed = col_transformer.transform(X_train)
X_test_processed = col_transformer.transform(X_test)

In [56]:
X_train_df = pd.DataFrame(X_train_processed)
X_train_df.head()

,0,1,2,3,4,5,6,7
0,0.060741,0.749291,0.464226,-0.118869,0.457447,0.499098,0.743973,0.241135
1,0.060741,-0.090254,-0.144654,-0.001647,-0.301655,-0.364269,-0.514040,-0.145838
2,-1.150979,1.127086,1.225326,0.818910,1.523852,1.692114,1.544526,1.179902
3,-1.150979,-0.593980,-0.449095,-1.056649,-0.651696,-0.617673,-0.738195,-0.647469
4,-1.150979,-0.258163,-0.093914,0.350020,-0.052352,-0.572823,-0.605532,0.785763

In [57]:
X_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3132 entries, 0 to 3131
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3132 non-null   float64
 1   1       3132 non-null   float64
 2   2       3132 non-null   float64
 3   3       3132 non-null   float64
 4   4       3132 non-null   float64
 5   5       3132 non-null   float64
 6   6       3132 non-null   float64
 7   7       3132 non-null   float64
dtypes: float64(8)
memory usage: 195.9 KB